<footer>
  <div class="copyright-wrapper ms-4">
    <p>Copyright © 2022  |  Charles Cantin</p>
    <p>Tous droits réservés</p>
  </div>
  <div class="social-wrapper me-4">
    <a href="#"><img class="social" src="/assets/facebook.png" alt="Facebook"></a>
    <a href="#"><img class="social" src="/assets/instagram.png" alt="Instagram"></a>
  </div>
</footer>