#index-content {
  display: flex;
  flex-direction: column;
  background: url(../assets/charles_cantin_background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrapper-index > h1 {
  font-size: 0;
  margin: 0;
}

#index-logo-center {
  width: 60%;
}

@media screen and (min-width: 768px) {
  #index-logo-center {
    width: 460px;
  }
}
