---
title: ACCUEIL
description: Charles Cantin, votre photographe à Bordeaux réalise tirage photo, portrait, photos de mariages, livre numérique... Rendez-vous dans mon studio photo Bordeaux.
layout: layout.njk
style: /css/index.css
---

<main id="index-content">
  {% include 'navbar.njk' %}
  <div class="logo-wrapper-index">
    <h1>Charles Cantin | Photographe</h1>
    <img id="index-logo-center" src="/assets/logo_cut.png" alt="Charles Cantin | Photographe">
  </div>
  {% include 'footer.njk' %}
</main>