---
title: ACCUEIL
description: Description de l'Accueil
layout: layout.njk
style: /css/index.css
---

<main id="index-content">
  {% include 'navbar.njk' %}
  <div class="logo-wrapper-index">
    <h1>Charles Cantin | Photographe</h1>
    <img id="index-logo-center" src="/assets/logo_cut.png" alt="Charles Cantin | Photographe">
  </div>
  {% include 'footer.njk' %}
</main>